.App {
  text-align: center;
  color: white;

  &__gifs-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1024px;
    margin-top: 16px;
  }

  &__gif {
    width: 200px;
    margin: 8px;
  }

  &__loader {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__loader {
    font-size: 32px;
  }
}
